#banner-container {
    width: 100vw;
    height: 435px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#banner-heading {
    display: flex;
    position: relative;
    font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
    top: calc(50% - 28px);
    left: calc(50% - 140px);
    font-size: 40px;
    font-weight: 700;
}
